In [1]:
import nbformat
from nbconvert import PythonExporter
import time

# อ่านไฟล์ ipynb
with open('Run_CMI.ipynb', 'r', encoding='utf-8') as f:
    notebook_content = nbformat.read(f, as_version=4)

# ให้ PythonExporter แปลงไฟล์ notebook เป็นโค้ด Python
python_exporter = PythonExporter()
python_code, _ = python_exporter.from_notebook_node(notebook_content)

# วัดเวลาเริ่มต้น
start_time = time.time()

# ให้ exec() ทำงานกับโค้ด Python
exec(python_code)

# วัดเวลาสิ้นสุด
end_time = time.time()

# คำนวณเวลาที่ใช้
elapsed_time = end_time - start_time
print(f"Elapsed Time: {elapsed_time} seconds")

Merged Data:
       HCODE             AN            HN     DATEADM TIMEADM     DATEDSC  \
0       15.0  I15-22-010395  15-19-011489  12/07/2022   04:03  17/07/2022
1       15.0  I15-22-009936  15-17-011360  04/07/2022   09:11  08/07/2022
2       15.0  I15-22-010035  15-18-000268  05/07/2022   18:55  08/07/2022
3       15.0  I15-22-009856  15-18-023852  02/07/2022   13:07  08/07/2022
4       15.0  I15-22-010004  15-19-033804  05/07/2022   12:16  08/07/2022
...      ...            ...           ...         ...     ...         ...
59649    NaN            NaN           NaN         NaN     NaN         NaN
59650    NaN            NaN           NaN         NaN     NaN         NaN
59651    NaN            NaN           NaN         NaN     NaN         NaN
59652    NaN            NaN           NaN         NaN     NaN         NaN
59653    NaN            NaN           NaN         NaN     NaN         NaN

      TIMEDSC  CALLOS  LEAVEDAY  ACTLOS  ...  Unnamed: 2  D/C Unnamed: 215  \
0       11:46     NaN       0.0     6.0  ...         NaN  NaN          NaN
1       11:41     NaN       0.0     4.0  ...         NaN  NaN          NaN
2       20:05     NaN       0.0     3.0  ...         NaN  NaN          NaN
3       20:05     NaN       0.0     7.0  ...         NaN  NaN          NaN
4       18:15     NaN       0.0     3.0  ...         NaN  NaN          NaN
...       ...     ...       ...     ...  ...         ...  ...          ...
59649     NaN     NaN       NaN     NaN  ...         NaN  NaN          NaN
59650     NaN     NaN       NaN     NaN  ...         NaN  NaN          NaN
59651     NaN     NaN       NaN     NaN  ...         NaN  NaN          NaN
59652     NaN     NaN       NaN     NaN  ...         NaN  NaN          NaN
59653     NaN     NaN       NaN     NaN  ...         NaN  NaN          NaN

       Unnamed: 3  Unnamed: 4  39-19-010503 30/08/2019  11:09  31/08/2019  \
0             NaN         NaN           NaN        NaN    NaN         NaN
1             NaN         NaN           NaN        NaN    NaN         NaN
2             NaN         NaN           NaN        NaN    NaN         NaN
3             NaN         NaN           NaN        NaN    NaN         NaN
4             NaN         NaN           NaN        NaN    NaN         NaN
...           ...         ...           ...        ...    ...         ...
59649         NaN         NaN           NaN        NaN    NaN         NaN
59650         NaN         NaN           NaN        NaN    NaN         NaN
59651         NaN         NaN           NaN        NaN    NaN         NaN
59652         NaN         NaN           NaN        NaN    NaN         NaN
59653         NaN         NaN           NaN        NaN    NaN         NaN

       12:06
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
59649    NaN
59650    NaN
59651    NaN
59652    NaN
59653    NaN

[59654 rows x 234 columns]

Elapsed Time: 31.51383352279663 seconds

<string>:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<string>:147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Index: 59122 entries, 0 to 59645
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   HCODE    59122 non-null  float64
 1   AN       59122 non-null  object
 2   HN       59122 non-null  object
 3   DATEADM  59122 non-null  datetime64[ns]
 4   DATEDSC  59122 non-null  datetime64[ns]
 5   ACTLOS   59122 non-null  float64
 6   WARDDSC  59122 non-null  object
 7   DEPT     59122 non-null  float64
 8   AGE      55548 non-null  float64
 9   AGEDAY   3574 non-null   float64
 10  SEX      59122 non-null  float64
 11  PDX      59122 non-null  object
 12  SDX1     59122 non-null  object
 13  SDX2     59122 non-null  object
 14  SDX3     59122 non-null  object
 15  SDX4     59122 non-null  object
 16  MDC      59122 non-null  object
 17  DRG      59122 non-null  object
 18  RW       59122 non-null  object
 19  ADJRW    59122 non-null  float64
 20  WTLOS    59122 non-null  float64
 21  Source   59122 non-null  object
 22  OR TYPE  59122 non-null  object
dtypes: datetime64[ns](2), float64(8), object(13)
memory usage: 10.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 59114 entries, 0 to 59645
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   HCODE    59114 non-null  float64
 1   AN       59114 non-null  object
 2   HN       59114 non-null  object
 3   DATEADM  59114 non-null  datetime64[ns]
 4   DATEDSC  59114 non-null  datetime64[ns]
 5   ACTLOS   59114 non-null  float64
 6   WARDDSC  59114 non-null  object
 7   DEPT     59114 non-null  float64
 8   AGE      55541 non-null  float64
 9   AGEDAY   3573 non-null   float64
 10  SEX      59114 non-null  float64
 11  PDX      59114 non-null  object
 12  SDX1     59114 non-null  object
 13  SDX2     59114 non-null  object
 14  SDX3     59114 non-null  object
 15  SDX4     59114 non-null  object
 16  MDC      59114 non-null  object
 17  DRG      59114 non-null  object
 18  RW       59114 non-null  object
 19  ADJRW    59114 non-null  float64
 20  WTLOS    59114 non-null  float64
 21  Source   59114 non-null  object
 22  OR TYPE  59114 non-null  object
dtypes: datetime64[ns](2), float64(8), object(13)
memory usage: 10.8+ MB
เวลาที่ใช้ในการ export เป็นไฟล์ Excel: 20.99 วินาที
Elapsed Time: 20.994399547576904 seconds

In [2]:
import nbformat
from nbconvert import PythonExporter
import time

# อ่านไฟล์ ipynb
with open('Run_PICU.ipynb', 'r', encoding='utf-8') as f:
    notebook_content = nbformat.read(f, as_version=4)

# ให้ PythonExporter แปลงไฟล์ notebook เป็นโค้ด Python
python_exporter = PythonExporter()
python_code, _ = python_exporter.from_notebook_node(notebook_content)

# วัดเวลาเริ่มต้น
start_time = time.time()

# ให้ exec() ทำงานกับโค้ด Python
exec(python_code)

# วัดเวลาสิ้นสุด
end_time = time.time()

# คำนวณเวลาที่ใช้
elapsed_time = end_time - start_time
print(f"Elapsed Time: {elapsed_time} seconds")

Merged Data:
    dim_wards[ward_name] dim_organization[bu_code] fact_patientday[hn]  \
0                    ICU                       SRH        39-16-002432
1                    ICU                       SRH        39-16-012220
2                    ICU                       SRH        39-17-007343
3                    ICU                       SRH        39-17-008041
4                    ICU                       SRH        39-17-013006
..                   ...                       ...                 ...
415                 PICU                       SRH        39-23-014505
416                 PICU                       SRH        39-23-014770
417                 PICU                       SRH        39-23-015595
418                 PICU                       SRH        39-23-015628
419                 PICU                       SRH        39-23-016496

    dim_patient_en[EN]  fact_patientday[PatientAgeYear]  \
0        I39-23-001479                                8
1        I39-23-001122                                8
2        I39-23-001791                               11
3        I39-23-006440                               13
4        I39-23-001502                               13
..                 ...                              ...
415      I39-23-008635                                0
416      I39-23-008244                                5
417      I39-23-008546                                1
418      I39-23-008574                                0
419      I39-23-009058                                7

     fact_patientday[PatientAgeDay] dim_gender[gender_name_en]  \
0                              2925                       Male
1                              3063                     Female
2                              4380                       Male
3                              4811                       Male
4                              4837                       Male
..                              ...                        ...
415                             110                       Male
416                            2041                     Female
417                             329                       Male
418                             250                       Male
419                            2880                       Male

    dim_patient_en[visit_date] dim_visit_trauma_type[visit_trauma_name]  \
0                   2023-02-28                               NON TRAUMA
1                   2023-02-16                               NON TRAUMA
2                   2023-03-12                               NON TRAUMA
3                   2023-08-24                               NON TRAUMA
4                   2023-03-01                                   TRAUMA
..                         ...                                      ...
415                 2023-11-02                               NON TRAUMA
416                 2023-10-17                               NON TRAUMA
417                 2023-10-29                               NON TRAUMA
418                 2023-10-30                               NON TRAUMA
419                 2023-11-17                               NON TRAUMA

     [m_PatientDay]                                             Source
0          0.977083  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
1          1.036806  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
2          0.745139  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
3          0.447917  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
4          1.220139  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
..              ...                                                ...
415        2.143750  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
416        3.972222  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
417        0.916667  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
418        0.584722  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...
419        0.864583  P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, ...

[420 rows x 11 columns]

Elapsed Time: 0.1414647102355957 seconds
Empty DataFrame
Columns: [Ward, bu_code, hn, en, PatientAgeYear, PatientAgeDay, gender, visit_date, trauma_type, PatientDay, Source]
Index: []
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ward            420 non-null    object
 1   bu_code         420 non-null    object
 2   hn              420 non-null    object
 3   en              420 non-null    object
 4   PatientAgeYear  420 non-null    int64
 5   PatientAgeDay   420 non-null    int64
 6   gender          420 non-null    object
 7   visit_date      420 non-null    object
 8   trauma_type     397 non-null    object
 9   PatientDay      420 non-null    float64
 10  Source          420 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 36.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 406 entries, 0 to 419
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ward            406 non-null    object
 1   bu_code         406 non-null    object
 2   hn              406 non-null    object
 3   en              406 non-null    object
 4   PatientAgeYear  406 non-null    int64
 5   PatientAgeDay   406 non-null    int64
 6   gender          406 non-null    object
 7   visit_date      406 non-null    object
 8   trauma_type     383 non-null    object
 9   PatientDay      406 non-null    float64
 10  Source          406 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 38.1+ KB
เวลาที่ใช้ในการ export เป็นไฟล์ Excel: 0.07 วินาที
Elapsed Time: 0.06919264793395996 seconds

In [3]:
import pandas as pd
df_CMI = pd.read_excel('RAW_CMI.xlsx')

In [4]:
df_ICD10_fullcode = pd.read_excel(r'P:\Support Data\ICD-CMI, OR, COVID, Dead\ICD, CMI\2022-2023\DATA\ICD-10 full code.xlsx' , sheet_name='SA ICD-10 MIT 2021')

C:\Users\takdanai.sa\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
df_ICD10_fullcode.head()

,Number,Chapter_No,Chapter_Desc,Group_Code,Group_Desc,ICD10_3_Code,ICD10_3_Code_Desc,ICD10_Code,WHO_Full_Desc,Valid_ICD10_ClinicalUse,...,Age_Range,Gender,Status,WHO_Start_date,WHO_End_date,WHO_Revision_History,SA_Start_Date,SA_End_Date,SA_Revision_History,Comment
0,1,CHAPTER I,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00,Cholera,N,...,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN
1,2,CHAPTER I,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.0,"Cholera due to Vibrio cholerae 01, biovar chol...",Y,...,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN
2,3,CHAPTER I,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.1,"Cholera due to Vibrio cholerae 01, biovar eltor",Y,...,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN
3,4,CHAPTER I,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.9,"Cholera, unspecified",Y,...,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN
4,5,CHAPTER I,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A01,Typhoid and paratyphoid fevers,A01,Typhoid and paratyphoid fevers,N,...,NaN,NaN,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN

In [6]:
selected_columns_data_ICD10 = df_ICD10_fullcode[['Chapter_Desc', 'Group_Code' , 'Group_Desc' ,'ICD10_3_Code','ICD10_3_Code_Desc','ICD10_Code','WHO_Full_Desc']]

In [7]:
selected_columns_data_ICD10.head()

,Chapter_Desc,Group_Code,Group_Desc,ICD10_3_Code,ICD10_3_Code_Desc,ICD10_Code,WHO_Full_Desc
0,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00,Cholera
1,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.0,"Cholera due to Vibrio cholerae 01, biovar chol..."
2,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.1,"Cholera due to Vibrio cholerae 01, biovar eltor"
3,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A00,Cholera,A00.9,"Cholera, unspecified"
4,(A00-B99) Infectious,001 (A00-A09),Intestinal infectious diseases,A01,Typhoid and paratyphoid fevers,A01,Typhoid and paratyphoid fevers

In [15]:
selected_columns_data_ICD10_no_duplicates = selected_columns_data_ICD10.drop_duplicates(subset='ICD10_Code')

In [18]:
import time

excel_file_path = 'ICD-10.xlsx'  # ระบุ path และชื่อไฟล์ Excel ที่คุณต้องการ

# บันทึกเวลาเริ่มต้น
start_time = time.time()

# Export DataFrame เป็นไฟล์ Excel ด้วย Pandas
selected_columns_data_ICD10_no_duplicates.to_excel(excel_file_path, index=False)

# คำนวณและแสดงเวลาที่ใช้
elapsed_time = time.time() - start_time
print(f'เวลาที่ใช้ในการ export เป็นไฟล์ Excel: {elapsed_time:.2f} วินาที')

เวลาที่ใช้ในการ export เป็นไฟล์ Excel: 4.64 วินาที